@media (max-width: 1024px) {
  .page {
    position: relative;
  }

  .header {
    position: relative;
    width: 100%;
    z-index: 100;
  }

  nav {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .active {
    animation: animate 0.5s forwards;
    display: block;
  }

  @keyframes animate {
    from {
      opacity: 0;
      top: 130px;
    }
    to {
      opacity: 1;
      top: 60px;
    }
  }

  .desactive {
    animation: desactive 0.5s forwards;
  }

  @keyframes desactive {
    from {
      opacity: 1;
      top: 60px;
    }
    to {
      opacity: 0;
      top: 130px;
      display: none;
    }
  }
}

header .nav {
  height: 28px;
}

.menu {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu span {
  display: inline;
  width: 20px;
  height: 2px;
  background-color: #eee;
  transition: 0.5s;
}

.one {
  rotate: -45deg;
  position: relative;
  top: 6.45px;
}

.three {
  rotate: 45deg;
  position: relative;
  top: -6.45px;
}

.two {
  display: none !important;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-items {
  position: relative;
}

@media (min-width: 1024px) {
  .menu-items li:hover > .subMenu > i {
    transform: rotate(0deg);
  }
}

.sub-menu {
  position: relative;
}

@media (min-width: 1024px) {
  .menu-items {
    position: relative;
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .menu-items li:first-child:hover .sub-menu {
    display: flex;
  }
}

.cart-login a {
  position: relative;
}

.cart-login a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #eee;
}

.cart-login .cart-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  background-image: url("../img/electronic-store-hero-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  height: 600px;
}

.loading .section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.loading .product {
  width: 100%;
  height: 60%;
  margin: 0 auto 2rem auto;
  max-width: 1500px;
  z-index: 1;
}

@media (min-width: 768px) {
  .loading .product {
    width: 60%;
    height: 60%;
    margin: 0 0 6rem 0;
  }
}

@media (min-width: 768px) {
  .content {
    position: relative;
  }

  .deatails {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1500px;
  }

  .deatails .box {
    position: relative;
  }

  .deatails .box:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #eee;
  }

  .newsletter h3 {
    position: relative;
  }

  .newsletter h3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #eee;
  }
}
